.thank {
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank .finsh {
  display: contents;
}
.thank .p1 {
  font-size: 24px;
  color: green;
  font-weight: bold;
}
.thank .p2 {
  font-size: 18px;
}

.view-info {
  gap: 100px;
  display: flex;
  margin: 30px 0px 20px 0px;
}

/* .thank .option {
  display:flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
} 
.thank .option .back {
  text-decoration-line: none;
  display: contents;
}
.thank .btn {
  background-color: #608FF1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 20px 18px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 95px;
} */
.thank .option {
  margin-top: 20px;
}
.thank .btn {
  background-color: #608FF1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 20px 18px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 95px;
}

